@{
    ViewData["Title"] = "Contact - Corie";
}

<div style="text-align: center; padding: 40px 20px;">
    <h1 style="color: #D2691E;">Restaurant Corie </h1>
    <p style="color: #555;">Venez nous rendre visite !</p>
</div>

<div style="max-width: 600px; margin: auto; padding: 20px;">

    <!-- Adresse -->
    <div style="background-color: #FFF8F0; border-left: 4px solid #D2691E;
    padding: 20px; margin-bottom: 20px; border-radius: 5px;">
        <h3 style="color: #D2691E;">📍 Horaires :</h3>
        <p style="font-size: 1.1em;">Lundi : 08h - 20h</p>
        <p style="font-size: 1.1em;">Mardi : 08h - 20h</p>
        <p style="font-size: 1.1em;">Mercredi : 08h - 20h</p>
        <p style="font-size: 1.1em;">Jeudi : 08h - 20h</p>
        <p style="font-size: 1.1em;">Vendredi : 08h - 20h</p>
        <p style="font-size: 1.1em;">Samedi : Fermé</p>
        <p style="font-size: 1.1em;">Dimanche : Fermé</p>
    </div>
</div>
